---
---

@import 'variables';
@import 'sections/nav';
@import 'sections/footer';
@import 'sections/home';
@import 'sections/blog';
@import 'sections/post';
@import 'sections/projects';

h1 {
  font-family: $font-title;
}

h2 {
  font-family: $font-subtitle;
}

h3 {
  font-family: $font-subtitle;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $font-body;
}

#wrap {
  min-height: 100%;
}

main {
  padding-bottom: $footer-height;
  margin: 100px 10% 100px;
  overflow: auto;
}
