---
layout: default
title: Blog
---
<div class="home">
    <h1>Posts</h1>
    <ul class="post-list">
        {% for post in paginator.posts %}
            {% unless post.draft %}
            <li>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </time>
            </li>
            {% endunless %}
        {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">← Previous</a>
        {% endif %}

        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next →</a>
        {% endif %}
    </div>
    {% endif %}
</div>
