footer {
  position: relative;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
 
  padding: 10px 50px 20px;
  a {
    margin: 20px 10px 20px;
    color: black;
    &:link &:visited &:active {
      color: black;
    }
    &:hover {
      color: $merino;
    }
    i {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}


