nav {
  background-color: $deep-cerulean;

  #navbarNav {
    .nav-link {
      color: $merino; 

      &:hover {
        color: white;
      }
    }

    .active {
      .nav-link{
        color: white;
      }
    }

  }
}
